
@font-face {
    font-family: 'font-semibold';
    src: url(fonts/K2D/K2D-SemiBold.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'font-pagina';
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'font-logo';
    src: url(fonts/K2D/K2D-Medium.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'font-pagina', sans-serif;
}

body {
    background-color: #FEF9EB;
    padding: 0px 2rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.1rem 0px;
    margin-bottom: 4rem;
}

.logo-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 35px;
    padding-right: 5px;
}

.logo-name {
    font-size: 1.5rem;
    color: #f1a412;
    font-family: 'font-logo', sans-serif;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #636258;
    font-family: 'font-semibold', sans-serif;
}

.nav-item a:hover {
    color: #363631;
}

.nav-item a::after {
    content: '';
    background-color: #f1a412;
    border-radius: 2px;
    height: 3px;
    width: 0%;
    display: block;
}

.nav-item a:hover::after {
    width: 100%;
    transition: 0.4s;
}

.header-button {
    padding: 8px 12px;
    background-color: #f7b740;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.315);
    font-size: 0.9rem;
    font-family: 'font-semibold', sans-serif;
    cursor: pointer;
}

.header-button:hover {
    background-color: #f1a412;
    transition: 0.4s;
}

.responsive-menu {
    display: none;
}

/************ Section 1 *************/

.section1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6.5rem;
}

.section1-content {
    width: 450px;
    margin-top: 2rem;
}

.section1-content h1 {
    font-family: 'bold', sans-serif;
    font-size: 3rem;
    color: #252123;
    margin-bottom: 1.5rem;
}

.h1-mark {
    font-family: 'bold', sans-serif;
    color: #f1a412;
}

.text {
    font-family: 'font-pagina', sans-serif;
    font-size: 15px;
    color: #252123;
    margin-bottom: 1.3rem;
}

.cardapio-contato {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1.3rem;
}

.cardapio-contato button {
    padding: 8px 12px;
    border: none;
    background-color: #f7b740;
    font-family: 'font-pagina', sans-serif;
    font-size: 14px;
    color: #252123;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
    cursor: pointer;
}

.cardapio-contato button:hover {
    background-color: #e4a93b;
    transition: 0.3s;
}

.cardapio-contato p {
    font-size: 15px;
    padding: 8px 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
}

.cardapio-contato p i {
    background-color: #f7b740;
    padding: 5px 8px;
    border-radius: 7px;
    margin-right: 5px;
}

.social {
    display: flex;
    gap: 1.2rem;
}

.social i {
    color: black;
    font-size: 17px;
    padding: 8px 11px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
    border-radius: 7px;
}

.section1-img img {
    background-color: #FEE7B8;
    padding: 3rem;
    border-radius: 11rem;
}

/************ Section 2 *************/

.titulo-cardapio {
    text-align: center;
    margin-bottom: 2rem;
}

.titulo-cardapio h3 {
    color: #f1a412;
    font-size: 1.5rem;
    font-family: 'bold', sans-serif;
}

.titulo-cardapio h2 {
    font-family: 'bold', sans-serif;
    font-size: 1.9rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
    padding: 14px 6px;
    background-color: #FFFFFD;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.205);
    border-radius: 1.8rem;
}

.card img {
    height: 205px;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 1.1rem;
    margin-bottom: 12px;
    color: rgb(20, 20, 20);
}

.card-desc {
    text-align: center;
    font-size: 15px;
    color: #363631;
    margin-bottom: 12px;
}

.avaliacoes i {
    color: #ebaf3f;
    font-size: 15px;
}

.avaliacoes span {
    font-size: 15px;
    color: #363631;
}

.card-preco {
    font-family: 'bold', sans-serif;
    margin: 12px 0px;
}

.pedir-btn {
    padding: 8px 12px;
    background-color: #f7b740;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.315);
    font-size: 1rem;
    font-family: 'font-semibold', sans-serif;
    cursor: pointer;
}

.pedir-btn:hover {
    background-color: #f1a412;
    transition: 0.4s;
}

/********** Notebook ***********/

@media screen and (max-width: 1310px) {

    .section1-img img {
        height: 500px;
    }
    
}

/********** MENU RESPONSIVO ***********/

@media screen and (max-width: 810px) {

    .header {
        gap: 4.5rem;
    }

    .responsive-menu {
        display: block;
    }

    .menu-burguer {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .responsive-menu button {
        background-color: transparent;
        border: none;
    }

    .nav-list {
        display: none;
    }

    .header-button {
        display: none;
    }

}